@import "../../../node_modules/reset-css/sass/reset";
@import 'variable';
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&family=Suranna&display=swap");
html {
  font-size: 62.5%;
  body {
    font-family: $ff_default;
    font-size: $fz_default;
    * {
      &:focus, &:active {
        outline-color: $outline_default;
      }
      &::selection {
        background-color: $bg_selected;
      }
    }
    button {
      background: none;
      border: none;
    }
    main {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgb(242,236,225);
      background: radial-gradient(circle, rgba(242,236,225,1) 0%, rgba(241,231,214,1) 100%);
      .container {
        width: $w_container;
        margin: 0 auto;
      }
      section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 791px;
        background-color: $bg_first_scene;
        box-shadow: 0 19px 48px rgba(0, 0, 0, 0.22), 0 15px 32px rgba(0, 0, 0, 0.15);
        ul {
          display: block;
          position: relative;
          height: 48px;
          margin-top: 118px;
          li {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            font-family: "Suranna", serif;
            font-style: normal;
            font-weight: 100;
            font-size: 4.8rem;
            align-items: center;
            text-transform: uppercase;
            color: $c_default_main;
            &:not(:first-child){
              > div {
                opacity: 0;
              }
            }
          }
        }
        .deco-part  {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          flex-grow: 1;
          padding-bottom: 37px;
          svg {
            .deco-custom {
              &:not(:first-child){
                display: none;
              }
            }
          }
        }
        button {
          display: flex;
          margin-bottom: 37px;
          align-self: center;
          padding: 12px 52px;
          border-radius: 20px;
          background: $c_default_main;
          font-style: normal;
          font-weight: normal;
          font-size: 1.4rem;
          line-height: 2.0rem;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
