@import '../../../node_modules/reset-css/sass/reset';
@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&family=Suranna&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: $ff_default;
  font-size: $fz_default;

  * {
    &:focus,
    &:active {
      outline-color: $outline_default;
    }

    &::selection {
      background-color: $bg_selected;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $first_scene_bg;
  transition: background-color 0.8s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $w_container;
  height: 791px;
  margin: 0 auto;
  background-color: $first_scene_bg;
  box-shadow: 0 19px 48px rgba(0, 0, 0, 0.22), 0 15px 32px rgba(0, 0, 0, 0.15);
  transition: background-color 0.4s ease-in-out;
}

.moment {
  position: relative;
  display: block;
  height: 48px;
}

.moment__title {
  position: absolute;
  top: 110px;
  left: 0;
  align-items: center;
  width: 100%;
  color: $second_scene_main;
  font-family: $ff_title;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;

  &:not(:first-child) {
    > div {
      opacity: 0;
    }
  }

  &:first-child {
    color: $first_scene_second;
  }

  &:last-child {
    color: $third_scene_title;
  }
}

.switch {
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 37px;
  padding: 12px 52px;
  color: $c_btn;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  background: $first_scene_second;
  border: none;
  border-radius: 20px;
  transition: opacity 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }
}

.deco-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  padding-bottom: 37px;

  svg {
    .deco-custom {
      &:not(:first-child) {
        /* stylelint-disable */
        circle,
        path {
          opacity: 0;
        }
        /* stylelint-enable */
      }
    }
  }
}

// Colors
.first-level,
.third-level {
  fill: $first_scene_main;
}

.second-level {
  fill: $first_scene_second;
}

// Variations
.day {
  background-color: $second_scene_bg;

  .container {
    background-color: $second_scene_bg;
  }

  .switch {
    background-color: $second_scene_main;
  }

  .first-level,
  .third-level {
    fill: $second_scene_main;
  }

  .second-level {
    fill: $second_scene_second;
  }
}

.night {
  background-color: $third_scene_bg;

  .container {
    background-color: $third_scene_bg;
  }

  .switch {
    background-color: $third_scene_second;
  }

  .first-level,
  .third-level {
    fill: $third_scene_main;
  }

  .second-level {
    fill: $third_scene_second;
  }
}
